<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="logo">
    <img src="assets/images/logo.png" alt="Login"/>
  </div>
   <div class="content-bt-login">
     <button ion-button (click)="doFbLogin()">Login com Facebook</button>
   </div>
   
</ion-content>
