page-login {
   
   .logo{
       width: 250px;
       margin: 0 auto;
       margin-top: 50px;
       img{
         width: 100%;
         height: auto;
        }
   }
   .content-bt-login{
       text-align: center;
   }
}
