<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Todo-list</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Title</ion-label>
      <ion-input [(ngModel)]="todo.title"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label color="primary" floating>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
      <ion-label color="primary" floating>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="todo.date"></ion-datetime>
  </ion-item>

  <ion-item>
      <ion-label color="primary" floating>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="todo.time"></ion-datetime>
  </ion-item>

  <ion-item>
     <ion-label> Notification</ion-label>
     <ion-toggle  checked="false" [(ngModel)]="todo.notification"></ion-toggle>
  </ion-item>

 <div class="content-button">
     <button ion-button full (click)="clickButton()">{{ labelButton }}</button>
 </div>
 
</ion-content>
