page-profile {

   .content-bt-logout{
       text-align: center;
       margin-top: 30px;
   }

   .content-picture{
       width: 130px;
       margin: 0 auto;
       margin-top: 60px;

       img{
           width: 100%;
       }
   }
   .name-user{
       text-align: center;
       font-size: 16px;
       font-weight: bold;
       padding-top: 10px;
   }

   .test-local-notification{
       margin-top: 30px;
       text-align: center;
   }
}
