<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div class="content-picture">
       <img [src]="picture">
   </div>
   <h2 class="name-user">{{userName}}</h2>
   <div class="content-bt-logout">
     <button ion-button (click)="btLogout()">Logout</button>
   </div>

   <!--REMOVER BOTAO DE TESTE-->
   <div class="test-local-notification">
     <button ion-button color="secondary" (click)="testLocalNotification()" clear>Test local notification</button>
   </div>
</ion-content>
