<!--
  Generated template for the MyList page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Todo list</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
      <ion-list *ngFor="let item of todolist">
              <ion-item-sliding>
                  <ion-item>
                    {{item.title}}
                  </ion-item>
                  <ion-item-options>
                    <button ion-button (click)="updateTask(item)">
                      <ion-icon name="create"></ion-icon>
                    </button>
                    <button ion-button color="danger" (click)="removeTask(item)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
       </ion-list>
   <ion-fab right bottom>
      <button ion-fab color="danger" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
   </ion-fab>
</ion-content>
