<!--
  Generated template for the Welcome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>welcome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Seja bem vindo!</h1>

</ion-content>
